* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #554C4A;
}

h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    color: #FF5A31;
    background-color: #618075;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
